[submodule "alacritty/catppuccin"]
	path = alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty.git
[submodule "awesome/collision"]
	path = awesome/collision
	url = https://github.com/Elv13/collision.git
