.DS_Store
*/.DS_Store

nvim/lazy-lock.json

tmux/plugins/*
!tmux/plugins/tpm

# Ignore hyprconfig and utilize hyprconfig-template
hypr/hyprconfig.conf

# Ignore local Neovim runtime artifacts
nvim/.nvimlog
nvim/.tmp_ai_preferences/
