# Sets user-defined palette
palette = "catppuccin_mocha"

# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

format = """
$directory \
$git_branch \
$git_status\
$c\
$golang\
$nodejs\
$rust\
$zig\
$solidity\
$character\
"""

# Disable the blank line at the start of the prompt
add_newline = false

[directory]
format = "[$path](bold fg:sky)"

# Here is how you can shorten some long paths by text replacement
[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = "󰝚 "
"Pictures" = " "

[git_branch]
symbol = ""
truncation_length = 24
format = '[$symbol $branch ]($style)'

[git_status]
format = '[$all_status$ahead_behind ]($style)'

[docker_context]
symbol = " "
format = '[$symbol $context ]($style) $path'

[c]
symbol = " "
format = '[$symbol ($version) ]($style)'

[lua]
symbol = "󰢱 "
format = '[$symbol ($version) ]($style)'

[golang]
symbol = " "
format = '[$symbol ($version) ]($style)'

[java]
symbol = " "
format = '[$symbol ($version) ]($style)'

[nodejs]
symbol = ""
format = '[$symbol ($version) ]($style)'

[rust]
symbol = "󱘗 "
format = '[$symbol ($version) ]($style)'

[zig]
symbol = ""
format = '[$symbol ($version) ]($style)'

[solidity]
symbol = ""
format = '[$symbol ($version) ]($style)'

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#ca9ee6"
purple = "#cfa9fa"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"
