@define-color foreground #cdd6f4;
@define-color background #181824;
@define-color accent #cba6f7;
@define-color unavailable #45475a;

* {
  background-color: transparent;
  color: @foreground;

  border: none;
  border-radius: 10px;
  min-height: 0;
  font-family: 'Iosevka Nerd Font';
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
  padding: 6px 12px;
  background-color: @background;
}

.modules-center {
  padding: 6px 8px;
  background-color: @background;
}

.modules-right {
  background-color: @background;
  padding: 6px 12px;
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#custom-surfshark {
  margin-right: 13px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 20px;
}

tooltip {
  padding: 2px;
  background-color: @background;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screen_recorder {
    padding: 0 8px;
}

#custom-screen_recorder.recording {
    color: @accent;
}

#custom-screen_recorder.idle {
    color: @unavailable;
}
