window {
        margin: 5px;
        background-color: #1e1e2e;
}

#input {
        margin: 5px;
        background-color: #45475a;
}

#inner-box {
        margin: 5px;
}

#outer-box {
        margin: 5px;
}

#scroll {
        margin: 5px;
}

#text {
        color: #cdd6f4;
        margin: 5px;
} 

#entry:selected {
        background-color: #6c7086;
} 
